.home{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
nav{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px 30px;
  color: white;
  font-size: 30px;
}
.hero{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color:white;
  gap: 20px;
  padding: 10px 20px;
}
#tag{
  font-size: 2vmax;
  font-weight: 500;
}
.cate{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.genImg,.upImg,.chat{
  padding: 10px 20px;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
}
.upImg svg{
  width: 25px;
  height: 25%;
  color: rgb(7, 240, 11);
}
.genImg svg{
  width: 25px;
  height: 25%;
      color: rgb(7, 236, 240);
}
.chat svg{
  width: 25px;
  height: 25%;
  color: rgb(240, 155, 7);
}
.genImg:hover,.upImg:hover,.chat:hover{
  background-color: rgba(240,248, 255, 0.108);
}
.input-box{
  width: 100%;
  height: calc(100vh - 80px - 70%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0px 20px;
  position: fixed;
  bottom: 0;
}
#add,#submit{
  width: 60px;
  height: 60px;
  border: 2px solid rgba(255, 255, 255, 0.297);
  border-radius: 50px;
  background-color: rgb(11, 16, 17);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#add svg{
  width: 30px;
  height: 30px;
}
#submit svg{
  width: 25px;
  height: 25px;
}
form input{
  width: calc( 100% - 120px );
  height: 60px;
  background-color: rgb(11, 16, 17);
  border: 2px solid rgba(255, 255, 255, 0.297);
  outline:none;
  border-radius: 30px;
  padding: 10px 20px;
  color: white;
  font-size: 19px;
}
.chat-page{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 20px;
  padding: 10px 20px;
  overflow-y: auto;
}
.user, .ai{
  width: 90%;
  padding: 20px 30px;
  color: white;
  background-color: rgb(11, 16, 17);
  border: 2px solid rgba(255, 255, 255, 0.297);
  border-radius: 20px;
  font-size: 20px;
}
.pop-up{
  width: 200px;
  height: 120px;
  position: absolute;
  bottom: 120px;
  left: 15%;
  z-index: 10;
  background-color: rgb(11, 16, 17);
  border: 2px solid rgba(255, 255, 255, 0.297);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}
.select-up, .select-gen{
  color: white;
  display: flex;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  font-size: 17px;
  cursor: pointer;
}
.select-up svg{
  color: rgb(7, 240, 11);
}
.select-gen svg{
  color: rgb(7, 236, 240);
}
@media (max-width: 500px) {
  #tag{
    font-size: 20px;
  }
}
